* {margin: 0;
padding: 0;}

body { background-color: #ffffff;
		background-image:  linear-gradient(#edeeff 1.7000000000000002px, transparent 1.7000000000000002px), linear-gradient(to right, #edeeff 1.7000000000000002px, #ffffff 1.7000000000000002px);
		background-size: 34px 34px;
					
		font-family: Roboto;}



section {background-color:#E6E6E7;
			display: flex;
			width: 90%;
			max-width: 1000px;
			margin: 1.6em auto;}

img {width: 100%;}



h2, h3 {color: #9c9c9c;
	font-family: Roboto;
	font-weight: 300px;
	text-decoration: none;
	margin-left: 10px;
	list-style: none;
	margin-top: 20px;}

p {color: #9c9c9c;
		margin-top: 20px;
		font-family: Roboto;
		padding: 0 10px;}

.ajuste_texto {text-align: center;
					padding: 20px;	}


/* Header */
.menu {background-color: #e6ecff;
		height: 75px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #FFFFFF;}

.title {color: #9c9c9c;
		font-family:Roboto;
		font-weight: lighter;
		padding: 0 50px;
		text-align: center;}

.menu_items {display: flex;
			list-style: none;
			margin-right: 30px;
			padding-top: 30px;
			}

.menu_items li {border-radius: 3px;
				margin: 0 4px;}

.menu_items li a {padding: 8px 8px;
					text-decoration: none;
					font-size: 15px;
					align-items: center;
					display: block;
					color: #212529;}

.menu_items li:hover, li.active {background-color: white;
									transition: .4s;

													}

.Nombre_seccion a {text-decoration: none;
	font-size: 30px;
	color: #9c9c9c;
	text-decoration-line: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;}

.Nombre_seccion a:hover {color: #0088A9;}}


.section ul {padding: 2px;
							margin: 0px;
						}

.section h2 {padding: 15px;
							color: #9c9c9c;}



/* CONTAINER */
.container {background: white;
			width: 90%;
			max-width: 1000px;
			margin: 1.6em auto;
			display: grid;
			gap: 1.6em;
			grid-template-columns: repeat(3, 1fr);}

.container > .content,
.containter > .sidebar {background:#E6E6E7 ;
						padding: 20px;
						margin-top: 10px;

}

.container > .content {grid-column: span 2;
}

.content > .section {background: #E6E6E7;
						padding: 5px;
						margin-top: 5px;
						color: #9c9c9c;
						font-size: 20px;}

.content > .section li {display: inline-block;
						}

.content > .section h2, a {
						text-decoration: none;
						text-decoration-line: none;
						text-decoration-style: none;
						font-family: Roboto;
						}


.content > .section img {width: 100%;}

.container > .sidebar {grid-column: span 1;
						background: #E6E6E7;
						padding: 20px;
						margin-top: 10px;
						color: #9c9c9c;
						font-size: 20px;}

.sidebar article { background-color: #FFFFFF;
						padding: 20px;
						border-color: 4px solid grey;
 }

.sidebar img {width: 100%;
							align-content: center;}

@media screen and (max-width: 768px) {
	.header {
						text-align: center;}
	
	.container .content {grid-column: 1/-1;}

	.container .sidebar {grid-column: 1/-1;}

}

/* Carousel */

#carouselExampleControls {width: 100%;
height:auto;}

.vista_carrusel {padding: 10px;
				padding-right: 10px;
				margin-top: 10px;
				margin-left: 20px;
				margin-right: 20px;
				width: 50%;}


/*Galerias flex */

.row {display: flex;
		padding: 20px;
		flex-wrap: wrap;}

.column {flex: 25%;
		padding: 10px;}

.colum figure {width: 50%;
	margin-top:5px;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}


@media (max-width: 992px)  {
	.column { 
	flex: 100%; }
}




/*Footer*/ 

.footer {background-color: #e6ecff;
		height: 100px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #FFFFFF;}

.nombre {padding-left: 30px;}

.ingreso_items {padding-bottom: 10px;
					padding-left: 60px;}

.redes {color: #9c9c9c;
		font-family:Roboto;
		font-weight: lighter;
		text-align: center;
		padding-bottom: 20px;
		display: flex;
		list-style: none;
		padding-top: 30px;}

.bi-facebook, .bi-instagram {width: 100px;
						height:30px;
						margin-top: 20px;

}



/*Animación de botón de index*/

.button {
  border-radius: 2px;
  background-color: #E4E0BC;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*RESPONSIVE*/
 @media screen and (max-width: 600px) {

 	body{position: absolute;  }


 
 	.title {display: none;
 	}



	.menu {height: 65px;	 } 


	.menu_items {
							align-items: center; 	
}
.ingreso {text-align: center;}


.ingreso_items {font-size: 11px;}

}

}
	


